--extra-index-url https://download.pytorch.org/whl/cpu

fastapi==0.129.0
uvicorn[standard]==0.41.0
python-multipart==0.0.22
ipython==8.38.0

fastai==2.8.7
numpy==1.26.4
pillow==10.4.0

torch==2.3.1+cpu
gunicorn==21.2.0
torchvision==0.18.1+cpu
